@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Special+Elite&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
    width: 100%;
    background: url(./hd.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container-fluid  {
    width: 100%!important;
    height: 100%!important;
    margin:0!important;
    padding: 10px!important;
    box-shadow:0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: relative!important;
}
#myTable {
  width: 100%!important;
  height: 100%!important;
  font-family: 'Anonymous Pro', monospace!important;
}
.h2 {
  font-family: 'Special Elite', cursive!important;
  color: #808080!important;
  letter-spacing: 2px!important;
}
#snackbar {
   font-family: 'Special Elite', cursive!important;
    visibility: hidden;
    min-width: 250px; 
    margin-left: -125px;
    background-color: rgb(70, 247, 114); /* Black background color */
    color: #fff; 
    font-size: 1rem;
    text-align: center;
    border-radius: 2px;
    padding: 5px;
    position: fixed;
    z-index: 1; 
    left: 50%; 
    top: 30px;
  }
  
  #snackbar.shows {
    visibility: visible; 
    
    -webkit-animation: fadein 3s, fadeout 2.5s 2.5s;
    animation: fadein 3s, fadeout 2.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {right: 0; opacity: 0;}
    to {right: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {right: 0; opacity: 0;}
    to {right: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {right: 30px; opacity: 1;}
    to {right: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {right: 30px; opacity: 1;}
    to {right: 0; opacity: 0;}
  }
  @media (max-width:500px)
  {
    #myTable {
      font-size: 10px!important;
    }
  }
  @media (max-width:300px)
  {
    #myTable {
      font-size: 5px!important;
    }
  }